/*

Style sheet for Sverresborg Idrettsforening

*/

//Load bootstrap
@import 'bootstrap/bootstrap';

// This and that / generic stuff
// --------------------------------------------------

a {
  color: $sif-green;

  &:hover, &:focus {
    color: $sif-green-darker;
  }
}

input, textArea {
  border: 0px;
}

/*div {
  border: 1px #000 solid;
}*/

// Comments
// --------------------------------------------------

.comment {
  margin-top: 10px;
}

// Header
// --------------------------------------------------

#header {
  margin-top: 40px;
  margin-bottom: 10px;

  @media (max-width: $screen-xs-max) {
    margin: 0;
  }
}



#header-login {
  margin-right: 3px;
}

#header-category {
  font-size: $font-size-h3;
  color: $gray-light;
}

// Sif posts
// --------------------------------------------------

.sif-post {
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;

  h2 {
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .sif-post-wrapper {
    padding: 0 20px;
  }
}

// The Events Calendar
// --------------------------------------------------
#tribe-events-content {
  padding: 2px 20px 0;
  background-color: #FFF;
}

// Site spesific menu class
// --------------------------------------------------

li.nav-site-home a {
  font-size: $font-size-h3;
  color: #fff;
}


// Site wide _mobile_ menu class
// --------------------------------------------------

.sitewide-mobile .navbar-toggle {
  float: left;
}

#sitewide-navigation {
  background-color: $body-bg;
  border-color: $body-bg;
  margin-bottom: 0px;

  .navbar-collapse {
    border-color: $body-bg;
  }

  .navbar-brand {
    color: $gray;
  }

  img {
    margin-top: 8px;
    margin-right: -1px;
  }

}

#sif-mobile-menu {
  padding-top: 10px;
  padding-left: 10px;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  > li {
    padding-top: 10px;
    font-size: $font-size-h3;
  }

  .sif-menu-link {
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
  }

  .active, .active-parent {
    display: inline-block;
    color: $gray-dark;
  }


}

// Site wide menu class
// --------------------------------------------------

#sif-menu {
  padding-top: 2px;
  padding-left: 0px;

  a {
    padding-left: 0px;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  > li {
    border-top: $gray-light solid 1px;
    padding-top: 10px;
    font-size: $font-size-h3;
  }

  > li:last-child {
    border-bottom: $gray-light solid 1px;
  }

  .sif-menu-link {
    cursor: pointer;
    font-size: $font-size-small;
    margin-top: 10px;
    margin-right: 7px;
  }

  .active, .active-parent {
    display: inline-block;
    color: $gray-dark;
  }


}

.sif-submenu {
  padding-left: 15px;
  font-size: $font-size-h4;
  display: none;
}

// Sponsor images
// --------------------------------------------------

#sponsor-images {
  padding-left: 0px;
  margin-top: 80px;

  > li:first-child {
    font-size: 100%;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    color: $gray-sif-lighter;
  }

  > li {
    list-style: none;
    border-bottom: $gray-sif-lighter solid 1px;
    padding-top: 10px;
    font-size: $font-size-h3;
    padding-bottom: 15px;
  }

}

// Widgets
// --------------------------------------------------

.sampleClass {
  float: left;
}
@media only screen and (max-width: $screen-sm-min) and (min-width: $screen-xs-min) {
	.sampleClass {
    float: none;
  }
}

.widget {
  background-color: $sif-green;

  &:nth-child(3n+1) {
    background-color: #fff;
  }
  &:nth-child(3n+2) {
    background-color: $sif-green;
    a, li {
      color: #fff;
    }
  }
  &:nth-child(3n+3) {
    background-color: #999;
    /*color: #fff;*/
    a, li {
      color: #fff;
    }
  }
}

.widget {

  /*background-color: #999;*/
  padding: 2px 10px 20px;
  margin-bottom: 20px;

  h3 {
    margin: 30px 0 30px;
  }

  ul, ol {
    padding: 0px;

    li {
      border-top: $gray-light solid 1px;
      list-style: none;
      padding: 3px;
    }

    > li:last-child {
      border-bottom: $gray-light solid 1px;
    }

  }

  .wysija-input {
    width: 100%;
  }

}

#tribe-events-list-widget-2 {

  h4, .duration {
    font-size: $font-size-base;
    margin: 0px;
  }

  .duration {
    font-size: $font-size-small;
  }

  .summary {
    padding-top: 3px;
  }

  .tribe-events-widget-link a, .duration {
    font-weight: normal;
  }
}

.tribe-events-list-widget ol li {
  margin-bottom: 0px;
}

// Headerstuffhack
// --------------------------------------------------

.header-text-left {
  position: relative;

  #main-header-area {
/*     position: absolute;
  bottom: -30px;
  right: -55px;
   */  }
}

.header-text-right {
  position: relative;
  line-height: 34px;

  .search-wrapper {
    position: absolute;
    top: 20px;
    line-height: 20px;
    right: 0px;

    input {
      width: 151px;
    }
  }

  #header-login {
    position: absolute;
    top: 13px;
    height: 20px;
    right: 168px;
    width: 75px;
  }

  #searchform > div {
    background-color: #FFF;
    width: 182px;
  }

  .sif-btn {
    border: 0px;
    margin-top: -2px;
    margin-left: -5px;
    padding-right: 10px;
    height: 20px;
    background-color: #fff;
  }

  #s {
    border: 0px;
  }
}

// Headerstuffhack
// --------------------------------------------------

.tribe-events-button {
  background-color: $sif-green;
}